<h2>Home page</h2>
<p>Nam dignissim quam a finibus venenatis.</p>
<ol>
  <li><%= link_to '12 Lizards', @lizards(12) %></li>
  <li><%= link_to '444 Lizards', @lizards(444) %></li>
  <li><%= link_to '9672 Lizards', @lizards(9672) %></li>
</ol>
