<div class="product">
  <strong>Name:</strong>
  <% if display_product_link %>
    <%= link_to products.name, product_path(products) %>
  <% else %>
    <%= products.name %>
  <% end %>
  <p><%= products.description %></p>
</div>
